/* Variables */
:root {
    --min-body-width: 300px;
    --body-top-padding: 10px;

    --option-btn-container-width: 175px;
    --option-gif-height: 80px;
    --option-btns-heights: 35px;

    --other-btn-container-top-margin: 30px;
    --other-btn-container-btn-height: 25px;
}

body {
    min-width: var(--min-body-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

#text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--body-top-padding);
}

#text-container > * {
    margin-block-start: 0;
    margin-block-end: 0;
}

#title-text {
    margin-bottom: 5px;
}

#creator-text {
    margin-bottom: 30px;
}

#option-btn-container {
    width: var(--option-btn-container-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.option-btns {
    height: var(--option-btns-heights);
    width: 95%;
    border-color: gray;
    background-color: white;
}

.option-btns:hover {
    background-color: gray;
}

.option-gif {
    height: var(--option-gif-height);
    width: 100%;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    border: 0.5px solid black;
}

.hidden-stuff {
    display: none;
}

#selected-file-stuff {
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#file-selected-text {
    margin: 0;
}

#cancel-file-btn {
    min-height: 20px;
    min-width: 20px;
    background-color: red;
    border-radius: 40px;
}

#selected-file-image {
    max-height: 0px;
    width: 90%;
    margin-bottom: 5px;
    object-fit: contain;
}

#other-btn-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 0.5px solid black;
    margin-top: var(--other-btn-container-top-margin);
}

#version-txt {
    margin-left: 5px;
    text-align: center;
}

#github-btn {
    height: var(--other-btn-container-btn-height);
    width: 50px;
    border-radius: 10px;
}

#settings-btn {
    height: var(--other-btn-container-btn-height);
    width: 25px;
    border-radius: 50px;
    border-color: black;
    margin-right: 5px;
}

button {
    cursor: pointer;
    border-width: 0.5px;
    border-style: solid;
    padding-block: 0;
    padding-inline: 0;
}
