body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    padding: 10px 0 0 0;
    margin: 0;
    border: 1px outset gray;
}

#title-text, #creator-text {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 10px;
}

#option-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 175px;
}

.option-btns {
    border: 0.5px solid gray;
    border-radius: 0;
    background-color: white;
    width: 95%;
    height: 35px;
}

.option-btns:hover {
    background-color: gray;
}

.btn-specific-img {
    height: 80px;
    width: 100%;
    margin-bottom: 2.5px;
    border: 0.5px solid black;
    display: none;
}

#other-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 0.5px solid black;
    margin-top: 30px;
}

#version-txt {
    margin-left: 5px;
    text-align: center;
}

#github-btn {
    border-radius: 10px;
    width: 50px;
    height: 25px;
}

#settings-btn {
    border-radius: 50px;
    width: 25px;
    height: 25px;
    border-color: black;
    margin-right: 5px;
}

button {
    cursor: pointer;
    border-width: 0.5px;
    border-style: solid;
    padding-block: 0;
    padding-inline: 0;
}